---

- name: create /etc/icingaweb2 directory
  file:
    name: '{{ item }}'
    state: directory
    owner: "{{ icingaweb_user }}"
    group: "{{ icingaweb_group }}"
  loop:
    - /etc/icingaweb2

- name: install database
  include_tasks: database/mysql.yml

- name: create modules directories
  file:
    name: '{{ item }}'
    state: directory
    owner: "{{ icingaweb_user }}"
    group: "{{ icingaweb_group }}"
  loop:
    - /etc/icingaweb2/modules
    - /etc/icingaweb2/enabledModules

- name: create log directory
  file:
    name: '{{ item }}'
    state: directory
    owner: "{{ icingaweb_user }}"
    group: "{{ icingaweb_group }}"
  loop:
    - /var/log/icingaweb2

- name: create dashboard directory
  file:
    name: '{{ item }}'
    state: directory
    owner: "{{ icingaweb_user }}"
    group: "{{ icingaweb_group }}"
  loop:
    - /etc/icingaweb2/dashboards

- name: create configurations
  template:
    src: "{{ item }}.j2"
    dest: "/etc/icingaweb2/{{ item }}"
    owner: "{{ icingaweb_user }}"
    group: "{{ icingaweb_group }}"
    mode: 0660
  loop:
    - resources.ini
    - config.ini
    - authentication.ini
    - groups.ini
    - roles.ini

- name: ensure rights for config.ini
  file:
    path: /etc/icingaweb2/config.ini
    group: "{{ icingaweb_group }}"
    mode: 0666

- name: ensure module directory exists
  file:
    name: '/etc/icingaweb2/modules/{{ item }}'
    state: directory
    group: "{{ icingaweb_group }}"
    mode: 0770
  loop:
    - monitoring

- name: disable icingaweb modules
  file:
    state: absent
    path: "/etc/icingaweb2/enabledModules/{{ item }}"
  loop:
    '{{ icingaweb_modules_disabled }}'

- name: enable icingaweb modules
  file:
    state: link
    src: '{{ icingaweb_install_dir }}/modules/{{ item }}'
    dest: '/etc/icingaweb2/enabledModules/{{ item }}'
    owner: "{{ icingaweb_user }}"
    group: "{{ icingaweb_group }}"
    mode: 0660
    force: true
  loop:
    '{{ icingaweb_modules_enabled | list }}'

- name: create monitoring modules configuration
  template:
    src: modules/monitoring/{{ item }}.ini.j2
    dest: /etc/icingaweb2/modules/monitoring/{{ item }}.ini
    owner: "{{ icingaweb_user }}"
    group: "{{ icingaweb_group }}"
    mode: 0660
  loop:
    - config
    - backends
    - commandtransports

# userhandling in database
- block:
    - name: create password hashes
      shell: >
        openssl passwd -1 {{ item.value.password }}
      register: hashes
      with_dict: "{{ icingaweb_users }}"
      no_log: true

    # https://stackoverflow.com/questions/48825583/in-ansible-how-do-you-change-a-existing-dictionary-hash-values-using-a-variable
    - name: merge icingaweb_users with password hashes
      set_fact:
        icingaweb_users: "{{ icingaweb_users | combine(new_item, recursive=true) }}"
      vars:
        new_item: "{ '{{ item.0 }}': { 'hashed': '{{ item.1.stdout }}' } }"
      no_log: true
      with_together:
        - "{{ icingaweb_users }}"
        - "{{ hashes.results }}"

    - name: create temporary icingaweb_users statement
      template:
        src: create_user.sql.j2
        dest: /tmp/create_user.sql
      no_log: true
      loop:
        - "{{ icingaweb_users }}"

    - name: import icingaweb users into database
      shell: >
        mysql \
          --defaults-file=/etc/icingaweb2/.my.cnf \
          --batch \
          --verbose \
          < /tmp/create_user.sql
      register: icingaweb2_import_users
      changed_when: false
      check_mode: false
      # no_log: true

  when: icingaweb_users is defined and icingaweb_users | count != 0

- name: change ownership of /etc/icingaweb2 directory
  file:
    name: /etc/icingaweb2
    state: directory
    owner: "{{ icingaweb_user }}"
    group: "{{ icingaweb_group }}"
    recurse: true
