---

# get file or directory stats
- name: detect installed icingaweb2
  stat:
    path: '/usr/share/icingaweb2-{{ icingaweb_version }}/library/Icinga/Application/Icinga.php'
    get_checksum: false
    get_md5: false
    get_mime: false
    get_attributes: false
  register: __stat_present_icingaweb2
  changed_when: not __stat_present_icingaweb2.stat.exists

- block:
    - name: ensure installation directory exists
      file:
        src: '/usr/share/icingaweb2-{{ icingaweb_version }}'
        dest: '{{ icingaweb_install_dir }}'
        owner: "{{ icingaweb_user }}"
        group: "{{ icingaweb_group }}"
        mode: 0755
        state: link
        force: true

    - name: download icinaweb2 v{{ icingaweb_version }}.tar.gz to local directory {{ icingaweb_local_tmp_directory }}
      become: false
      get_url:
        url: https://github.com/Icinga/icingaweb2/archive/v{{ icingaweb_version }}.tar.gz
        dest: "{{ icingaweb_local_tmp_directory }}/icingaweb2-v{{ icingaweb_version }}.tar.gz"
        mode: 0660
      register: _download_artefact
      until: _download_artefact is succeeded
      retries: 5
      delay: 2
      check_mode: false
      delegate_to: localhost

    - name: deploy application archiv
      copy:
        src: "{{ icingaweb_local_tmp_directory }}/icingaweb2-v{{ icingaweb_version }}.tar.gz"
        dest: /tmp
        mode: 0700

    - name: download and extract icingaweb2 archive
      unarchive:
        src: /tmp/icingaweb2-v{{ icingaweb_version }}.tar.gz
        dest: /usr/share
        owner: "{{ icingaweb_user }}"
        group: "{{ icingaweb_group }}"
        mode: 0755
        remote_src: true

    - name: ensure icingacli is in the path
      file:
        src: '{{ icingaweb_install_dir }}/bin/icingacli'
        dest: /usr/bin/icingacli
        owner: "{{ icingaweb_user }}"
        group: "{{ icingaweb_group }}"
        mode: 0755
        state: link
        force: true

  when:
    - not __stat_present_icingaweb2.stat.exists

- name: install python packages for support databases
  pip:
    name: "{{ item }}"
    executable: pip3
    state: present
  loop:
    - "{{ icingaweb_python_packages }}"

...
