; {{ ansible_managed }}

{% set _valid_attr = ['transport','host','port','username','password'] %}

{% if icingaweb_commandtransport is defined and icingaweb_commandtransport | count != 0 -%}
{% for key  in icingaweb_commandtransport -%}
[{{ key }}]
{% for k,v in icingaweb_commandtransport[key].items() -%}
{% if k in _valid_attr %}
{{ "%-10s" | format(k,) }} = "{{ v }}"
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}

