---

- name: icingaweb themes
  block:

    - name: create local temp directory
      become: false
      delegate_to: localhost
      file:
        path: "{{ icingaweb_local_tmp_directory }}/icingaweb_themes/"
        state: directory
        mode: 0770

    - name: download external themes to local directory {{ icingaweb_local_tmp_directory }}/icingaweb_themes
      become: false
      delegate_to: localhost
      git:
        depth: 1 # copy the least bit of history possible to get that repo.
        repo: "{{ item.src }}"
        version: "{{ item.version }}"
        dest: "{{ icingaweb_local_tmp_directory }}/icingaweb_themes/{{ item.name }}"
        update: true
      loop:
        "{{ icingaweb_themes }}"
      loop_control:
        label: "  theme: {{ item.name }} - version: {{ item.version | default('', true) }}"

    - name: download external images for themes to local directory {{ icingaweb_local_tmp_directory }}/icingaweb_themes
      become: false
      delegate_to: localhost
      get_url:
        url: "{{ item.image.url }}"
        dest: "{{ icingaweb_local_tmp_directory }}/icingaweb_themes/{{ item.name }}/public/img/{{ item.image.name }}"
        mode: 0660
      register: _download_artefact
      until: _download_artefact is succeeded
      retries: 5
      delay: 2
      check_mode: false
      loop:
        "{{ icingaweb_themes }}"
      loop_control:
        label: "  theme: {{ item.name }} - version: {{ item.version | default('', true) }}"
      when:
        - item.image is defined

    - name: create transfer archive
      become: false
      delegate_to: localhost
      archive:
        path: "{{ icingaweb_local_tmp_directory }}/icingaweb_themes"
        dest: "{{ icingaweb_local_tmp_directory }}/icingaweb_themes.tgz"
        mode: 0660

    - name: propagate icingaweb_themes.tgz
      become: true
      copy:
        src: "{{ icingaweb_local_tmp_directory }}/icingaweb_themes.tgz"
        dest: "/tmp/"
        mode: 0660

    - name: extract icingaweb_themes.tgz
      unarchive:
        src: "/tmp/icingaweb_themes.tgz"
        dest: /tmp/
        mode: 0700
        remote_src: true

    - name: copy themes in place
      become: true
      copy:
        src: "/tmp/icingaweb_themes/{{ item.name }}/"
        dest: "{{ icingaweb_install_dir }}/modules/{{ item.name }}"
        owner: "{{ icingaweb_user }}"
        group: "{{ icingaweb_group }}"
        remote_src: true
        mode: 0750
      loop:
        "{{ icingaweb_themes }}"
      loop_control:
        label: "  theme: {{ item.name }}"

    - name: enable / disable themes
      become: true
      icingacli:
        state: "{{ 'enable' if item.enabled | default('true') else 'disable' }}"
        command: module
        module_name: "{{ item.name }}"
      loop:
        "{{ icingaweb_themes }}"
      loop_control:
        label: "  theme: {{ item.name }} - enabled: {{ item.enabled | default('true', true) }}"

  when:
    - icingaweb_themes is defined
    - icingaweb_themes | flatten(1) | count != 0

...
