#jinja2: trim_blocks: True, lstrip_blocks: True
; {{ ansible_managed }}
{% set _log_level = "WARNING" %}
{% if icingaweb_log_level is defined and
      icingaweb_log_level in ["DEBUG", "INFO", "WARNING", "ERROR"] %}
  {% set _log_level = icingaweb_log_level %}
{% endif %}

; https://icinga.com/docs/icingaweb2/latest/doc/03-Configuration/

[global]
module_path         = "{{ icingaweb_install_dir }}/modules"
show_stacktraces    = "{{ icingaweb_show_stacktraces | default(false) | bool | ternary('1', '0') }}"
show_application_state_messages = "1"
config_backend      = "{{ icingaweb_config_backend | default('db') }}"
config_resource     = "{{ icingaweb_config_resource }}"

[logging]
log                 = "file"
level               = "{{ _log_level }}"
file                = "/var/log/icingaweb2/icingaweb2.log"

[preferences]
store               = "{{ icingaweb_preferences_store | default('db') }}"

[themes]
disabled            = "{{ icingaweb_themes_disabled | default(false) | bool | ternary('1', '0') }}"
default             = "{{ icingaweb_themes_default | default('Icinga') }}"

[authentication]
