#jinja2: trim_blocks: True, lstrip_blocks: True
; {{ ansible_managed }}

{% if item.configuration is defined and item.configuration | count != 0 %}
  {% set graphite = item.configuration %}
  {% set _attr = ['host','port','user','password','ui','advanced'] %}

[graphite]
url = "{{ graphite.host | default('127.0.0.1') }}:{{ graphite.port | default('2003') }}"
  {% if graphite.user is defined and graphite.user | length != 0 %}
user = "{{ graphite.user }}"
  {% endif %}
  {% if graphite.password is defined and graphite.password | length != 0 %}
password = "{{ graphite.password }}"
  {% endif %}
  {% if graphite.insecure is defined %}
insecure = "{{ graphite.insecure }}"
  {% endif %}
{% endif %}

{% if graphite.ui is defined and graphite.ui | count != 0 %}
  {% set _attr = ['default_time_range','default_time_range_unit','disable_no_graphs_found'] %}
[ui]
  {% for k, v in graphite.ui.items() %}
    {% if k in _attr %}
{{ k }} = "{{ v }}"
    {% endif %}
  {% endfor %}
{% endif %}

{% if graphite.advanced is defined and graphite.advanced | count != 0 %}
  {% set _attr = ['graphite_writer_host_name_template','graphite_writer_service_name_template','customvar_obscured_check_command'] %}
[icinga]
  {% for k, v in graphite.advanced.items() %}
    {% if k in _attr %}
; {{ k }} = "{{ v }}"
    {% endif %}
  {% endfor %}
{% endif %}
